.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.selectNameCol {
  display: none;
  position: absolute;
  margin: 0;
  flex-direction: column;
}

.selectNameCol {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
}

.selectNameCol button {
  box-sizing: border-box;
  background-color: #cccccc;
  border: 1px solid #999999;
  transition: transform 0.3s;
  color: #020202;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.selectNameCol button:hover {
  transform: scale(1.05); /* Example hover effect: increase scale by 10% */
  background-color: #dddddd; /* Example hover effect: change background color */
}

.selectNameCol button.correct {
  background-color: #999999;
  border-color: #999999;
  animation: pulse 0.5s;
}

.selectNameCol button:disabled {
  background-color: #999999;
  border-color: #999999;
  color: white;
}

.selectNameCol button.wrong {
  background-color: #666666;
  border-color: #666666;
  animation: shake 0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

li>button {
  width: 6.5em;
}

.gameImage {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  flex-direction: column;
  margin-bottom: 2em;
}

/* configure the image container size */
.image-container {
  margin: 2em 10%;
  max-width: 80%;
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 7em;
  z-index: 1;
  margin-bottom: 2em;
}

.image-container img {
  width: 95%;
  margin-bottom: 2em;
}

.headshot-conatiner {
  display: flex;
  gap: 5em;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white; /* New color: yellow */
  padding: 20px; /* Increased padding for better spacing */
  position: fixed;
  z-index: 3;
}

.headshot img {
  box-sizing: border-box;
  max-width: 4em;
  min-width: 3.5em;
  border-radius: 5px;
  border: 3px solid red;
}

.headshot p {
  margin-top: 0;
  margin-bottom: 0;
}

.timer {
  position: fixed;
  right: 8em;
  padding: 8px;
  background-color: #f7df1e; /* New color: yellow */
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px; /* Increased font size for better visibility */
  border-radius: 8px; /* Increased border radius for a rounded appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.starter {
  background-color: #f7df1e; /* Yellow color */
  color: #fff; /* White color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  top: calc(50vh - 20em);
}

.starter p {
  margin-bottom: 10px;
}

.starter button {
  background-color: #fff; /* White color */
  color: #f7df1e; /* Yellow color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.starter button:hover {
  background-color: #f7df1e; /* Yellow color */
  color: #fff; /* White color */
}

.enter-name {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute; /* Position the div */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.enter-name p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.enter-name input[type="text"],
.enter-name button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}



.enter-name input[type="text"] {
  margin-bottom: 10px;
}

.enter-name button {
  background-color: #28a745;
  color: #fff;
}

.enter-name input[type="text"]::placeholder {
  color: #999;
}

.enter-name button:hover {
  background-color: #218838;
}

.enter-name button:active {
  background-color: #1e7e34;
}

#submit-user.loading {
  /* Styles for the button when it is in a loading state */
  /* For example, you can add a spinner animation or change the button appearance */
  opacity: 0.7;
  pointer-events: none; /* Disable pointer events on the button */
}

.container {
  position: absolute;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-content {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.popup-content p {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

h1 {
  margin-top: 0;
}

.leader-table {
  border-collapse: collapse;
  width: 30em;
}

.leader-table th,
.leader-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.leader-table th {
  background-color: #f2f2f2;
}